/* App.css */
.header {
  background-image: url('./headerimg.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 350px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
}
.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar-nav > li {
  margin-right: 20px;
}
.navbar-nav > li > ul {
  display: none;
}
.navbar-nav > li:hover > ul {
  display: block;
} */

.navbar {
  background-color: black;
  color: white;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
}
.navbar-nav li {
  margin: 0 10px; 
}
.navbar-nav li:hover {
  cursor: pointer;
  color: red; 
}



.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-bar input {
  padding: 10px;
  border: 1px solid red;
  background-color: black;
  color: red;
}
.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  border: 1px solid red;
  background-color: black;
  color: red;
  cursor: pointer;
}
.total-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}


.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  height: 100%;
  max-height: 200px;
  margin: 0 auto;
  padding: 8% 8% 8% 8%;
}
.thumbnail {
  width: 250px; 
  height: 350px;
  background-color: rgb(132, 132, 132); 
  box-shadow: 0 4px 2px -1px rgb(229, 14, 14);
  cursor: pointer;
  margin-bottom: 50px;
  overflow: hidden; 
  position: relative;
}
.thumbnail img {
  width: 300px; 
  height: 800px; 
  object-fit: cover; 
  object-position: 50% 0;
}.outside-h3 {
  position: relative;
  text-align: center; 
}
.display-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.537);
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.popup-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 700px;
  width: 90%;
  max-height: 400px;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.thumbnail-info {
  display: flex;
  align-items: center;
}

.thumbnail-info img {
  max-width: 150px; /* Adjust as needed */
  margin-right: 20px; /* Adjust spacing between image and text */
}

.text-info {
  flex: 1;
}

.text-info h2 {
  margin-top: 0;
}

.text-info p {
  margin-bottom: 0;
}

.video-section {
  margin-top: 20px; /* Adjust spacing between text content and video */
  text-align: center; /* Center the iframe */
}

.video-section iframe {
  max-width: 100%; /* Adjust as needed */
  border: none;
}
